.leftpane {
  /* The image used */
  background-image: url(/images/background.jpg);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top:350px;
  padding-bottom: 350px;
}


ul {
  position: relative;
  top: 40px;
  list-style-type: none;
  display: block;
}

li {
  width: 100%;
  margin: 5px;
}