
.ui.label{
  width: 100%;
  text-align: center;
}

#categoriesMenu{
  width: 100%;
}

#table{
  padding-left:15%;
  padding-right:15%;
  height: 150%;
  border-color:black;
}
#headerTitle{
  background-color: #00b3b3;
  color: white;
  text-align: center;
  height: 20%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-top: 1%;
  letter-spacing: 0.5em;
  font-style: normal;
  font-weight: bold;
}
#menu{
  padding-top:1%;
  padding-bottom:1%;
  padding-left: 3%;
  padding-right: 3%;

}

#leftThing {
  background:#f2f3f3;
  margin-top: 3%;
}


